SERVARR_PUID=
SERVARR_PGID=

DATA_ROOT=/mnt/external-storage/data/

RADARR_CONFIG_PATH=config
RADARR_MOVIES_PATH=movies
RADARR_DOWNLOAD_PATH=download

SONARR_CONFIG_PATH=config
SONARR_TV_PATH=tv
SONARR_DOWNLOAD_PATH=download

LIDARR_CONFIG_PATH=config
LIDARR_MUSIC_PATH=music
LIDARR_DOWNLOAD_PATH=download

READARR_CONFIG_PATH=config
READARR_BOOK_PATH=books
READARR_DOWNLOAD_PATH=download

PROWLARR_CONFIG_PATH=config
